services:
  main-server:
    image: itzg/minecraft-server:java21
    container_name: pati-chill-main-server
    pull_policy: daily
    tty: true
    stdin_open: true
    environment:
      EULA: "TRUE"
      ONLINE_MODE: "TRUE"
      MOTD: "Patichill"
      PACKWIZ_URL: /modpack/pack.toml
      TYPE: FABRIC
      VERSION: 1.21.1
      FABRIC_LAUNCHER_VERSION: 1.1.1
      FABRIC_LOADER_VERSION: 0.18.4

      RCON_PASSWORD: "${RCON_PASSWORD:-minecraft}"

      DIFFICULTY: normal

      SPAWN_PROTECTION: 0
    
      VIEW_DISTANCE: 10
      SIMULATION_DISTANCE: 6
      MAX_PLAYERS: 20

      INIT_MEMORY: 4G
      MAX_MEMORY: 8G

      ENABLE_WHITELIST: "true"
    
    ports:
      - "25566:25565/tcp"
    
    volumes:
      - ./data:/data
      - ./modpack:/modpack:ro

  backup:
    image: cobblemon-bw-backup:latest
    restart: on-failure
    build: 
      context: ./backup
    depends_on:
      main-server:
        condition: service_healthy

    environment:
      RCON_HOST: main-server:25575
      RCON_PORT: 25575
      RCON_PASSWORD: "${RCON_PASSWORD:-minecraft}"

      SSH_USER: albercl
      SSH_HOST: nas.albercl.dev
      SSH_PATH: ~/backups/minecraft/pati-server

    volumes:
      - ./data:/data:ro
      - ~/.ssh/id_ed25519:/root/.ssh/id:ro
      - /var/run/docker.sock:/var/run/docker.sock:ro